.img1{
  width: 100%;
}
h1 {
  font-family: 'Montserrat, sans-serif';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;

}
body{
  background-color: #03989e;
  
}
.navbar-brand{
  font-family: 'ubantu';
  font-size: 2.5rem

}

label{
  font-family: 'Montserrat, sans-serif';
}
.lol{
  align-items: center;
}
.yash{
      margin: 10px;
}
.hi{
  margin: 50px;
}
