.sector_top{
    
  margin: 50px;

}
.sector_middle{
  margin-left:50px; 
  margin-right: 50px;
}
.sector_list{
  margin-top: 40px;
  margin-left: 22%;
}
.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 50%;
  /*height: auto;*/
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 55%;
  opacity: 0;
  transition: .5s ease;
  background-color: #03989e;
  
}

.container:hover .overlay {
  opacity: 1;
}
.rowheight{
  margin-bottom: 50px;
  
}
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  
}
.ngo_sectorname
{
  margin-bottom: 30px;
}
.ngo_tablediv{
  padding: 2%;
}
body
{
font-family: 'Open Sans', sans-serif;
background-color: #EEEEEE;

}
@media only screen and (max-device-width: 700px) {
  .container{
    width: 100%;
    margin-bottom: 40px;
  }
  .rowheight{
    margin-bottom: 0px;
  }
  .image
  {
    width: 70%;
  }
  .overlay{
    width: 70%;
  }
  .navlogo
  {
    visibility: hidden;
  }
}